:root {
    --back-color: #ffffff;
    --navy-blue: #2e2f42;
    --cloud: #f4f4fd;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --slate: #434455;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--back-color);
    margin-left: auto;
    margin-right: auto;
    margin: 0%;
    padding: 0%;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
}
img {
    display: block;
}
      
.link {
    text-decoration: none;
}

.span {
    color: var(--navy-blue);
   
}
.list {
     list-style: none;
}
.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-right: auto;
    
 }
.nav:hover,
.nav:focus {
     color: var(--ocean) ;

}
.mail {
    font-style: normal;
   
}
.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-right: 0;
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;      
}
.mail:hover,
.mail:focus {
    color: var(--ocean);
}
.tel {
    font-style: normal;
}
.tel{
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.tel:hover,
.tel:focus{
    color: var(--ocean);
}

.contakts {
    padding: 0;
    display: flex;
    gap: 40px;    
}
.hero {
    background-color: var(--navy-blue);
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    padding: 188px 0;
}
.hero-solution {
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--back-color);
    margin: 0;
    max-width: 496px;
    
    
}
.btn {
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    color: var(--back-color);
    cursor: pointer;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    margin: auto;
}
.btn:hover,
.btn:focus {
    background-color: var(--ocean);
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 8px;
   

    
}
.front {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
    margin: 0;
    
}
.name-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: left;
    margin-bottom: 8px;
    
}
.front-class {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: left;
    margin: 0;
}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
    text-align: center;
   
}
.foto {
    
}
.foto-studio {
    background-color: var(-back-color);
}
.team-item {
    background-color: var(--back-color);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
    
}

.text {
    color: var(-cloud);
    margin: 0;
}
.portfolio {
    background-color: var(--cloud);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;    
}
.portfolio:hover,
.portfolio:focus {
    color: var(--back-color);
    background-color: var(--ocean);
    border: 1px solid transparent;
}
.footer-studio {
    color: var(--cloud);
}
.web {
    
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  var(--iris);
    display: inline-block;
    margin-bottom: 16px;
}
.studio {
    color: var(--cloud);
    width: 71px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
} 
.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cloud);
    max-width: 264px;
}
.header {
    border-bottom: 1px solid #e7e9fc;

}
.navigator {
    display: flex;
    align-items: center;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto; 

}
.discript {
    display: flex;
    align-items: center;
    margin: 0%;

}
.page {
    display: flex;
    gap: 40px;
    padding: 0;
}
.nav {
    padding: 24px 0;
}
.strategy {
    padding: 120px 0;
}
.techno {
    display: flex;
    gap: 24px;
    padding: 0;
   
}
.element {
    margin-right: 0px;
    flex-basis: calc((100% - 72px) / 4);
   
   
}
.comand {
    padding: 120px 0;
    background-color: var(--cloud);
}
.foto {
    padding-bottom: 120px; 
}
.work {
    font-family: 'Roboto';
    text-align: center;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 72px;
}
.rectangle {
    display: flex;
    gap: 24px;
    margin-left: auto;
    padding: 0;
}
.what {
    flex-basis: calc((100% - 72px) / 4);
}
.item {
    display: flex;
    gap: 24px;
    padding: 0;
}
.people {
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
}
.offer {
    padding: 96px 0 120px;
}
.port {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    padding: 0;
}
.discript {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    position: initial;
    padding: 0%;
    
}   
.bank {
   width: calc((100% - 48px) / 3);
}
.interface {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}


